.btn-primary {
  font-size: 20px;
  font-family: MyFont2;
  border-radius: 10px;
  border: 1px solid $ColorScheme5;
  outline: none;
  cursor: pointer;
  background-color: $ColorScheme2;
  color: $ColorScheme5;
  min-height: 40px;
  min-width: 150px;
}

.btn-primary a {
  color: $ColorScheme5;
  font-size: 20px;
  font-family: MyFont2;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.btn-primary:hover,
.btn-primary a:hover {
  color: $ColorScheme1;
  border: none;
  border-radius: 15px;
  transition: all 0.2s ease-out;
  background-color: $ColorScheme4;
}
