.contact-body {
    margin-top: 50px;    
    padding-bottom: 75px;
    min-height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-body .contact-form {
    min-width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-right: 2px dashed $ColorScheme4;
}

.contact-body .contact-details {
    padding-left: 25px;
    padding-right: 25px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.contact-body .contact-form label {
    padding-top: 25px;
    font-size: 20px;
}

.contact-body .contact-form .contact-form-submit {
    margin-top: 25px;
}

.contact-body .contact-form input,
.contact-body .contact-form textarea {
    color: $ColorScheme1;
    background: $ColorScheme4;
    border-color: $ColorScheme5;
    width: 100%;
    border-radius: 15px;
    height: 150px;
    resize: none;
    font-size: 20px;
}

.contact-body .contact-form input::placeholder,
.contact-body .contact-form textarea::placeholder {
    color: $ColorScheme2;
}

.contact-body .contact-form textarea {
    min-height: 100px;
    padding: 4px;
}

.contact-body .contact-form .contact-form-submit {
    width: 100%;
}

.contact-body .contact-form > .btn, .contact-body .contact-form > textarea{
    width: 100%;
}

.contact-body .contact-details label {
    padding-top: 25px;
    font-size: 20px;
}

.contact-body .contact-details label a{
    color: $ColorScheme5;
    text-decoration: none;
}

.contact-body .contact-details label a:hover{
    @include selected-item;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .contact-body {
        flex-direction: column-reverse;
    }
}