html, body {
  font-family: 'MyFont1';
  overflow-x: hidden;
  color: var(--COLOR5);
  background: none;
}

main {
  padding-top: 5rem;
}

/* REMOVE PRELOAD */
body .preload {
  display: none !important;
}

/* SCROLL-BAR */
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #080f16;
  border: 1px solid var(--COLOR1TRANS);
}

body::-webkit-scrollbar-thumb {
  background: #080f16;
  border: 1px solid var(--COLOR5);
  border-radius: 0.25em;
}

/* TRANSITION */
.main-content.main-content-enter {
  animation: right-to-left-fadein 200ms ease-in-out forwards;
}
@keyframes right-to-left-fadein {
  0% {
      opacity: 0;
      transform: translateX(20%);
  }
  100% {
      opacity: 1;
      transform: translateX(0%);
  }
}
.main-content.main-content-exit {
  animation: right-to-left-fadeout 200ms ease-in-out forwards;
}
@keyframes right-to-left-fadeout {
  0% {
      opacity: 1;
      transform: translateX(0%);
  }
  100% {
      opacity: 0;
      transform: translateX(-20%);
  }
}
main header.header {
  animation: up-to-down-fadein 200ms ease-in-out forwards;
}
main footer {
  animation: down-to-up-fadein 200ms ease-in-out forwards;
}
@keyframes up-to-down-fadein {
  0% {
      opacity: 0;
      transform: translateY(-50%);
  }
  100% {
      opacity: 1;
      transform: translateY(0%);
  }
}
@keyframes down-to-up-fadein {
  0% {
      opacity: 0;
      transform: translateY(+50%);
  }
  100% {
      opacity: 1;
      transform: translateY(0%);
  }
}

/* BUTTON COLORS */
button {
  background-color: var(--COLOR2) !important;
  color: var(--COLOR5) !important;
}

button:hover {
  background-color: var(--COLOR4) !important;
  color: var(--COLOR1) !important;
}