/* Color Theme Swatches in Hex */
:root {
  --COLOR1: #4A96D9; /* #4A96D9; */
  --COLOR1TRANS: #4a96d93b;
  --COLOR2: #59a8d9; /* #59A8D9; */
  --COLOR3: #A9C6D9; /* #A9C6D9; */
  --COLOR4: #94E1F2; /* #94E1F2; */
  --COLOR5: #F2F2F2; /* #F2F2F2; */
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'MyFont1';
  overflow-x: hidden;
  color: var(--COLOR5);
}

main {
  padding-top: 5rem;
}

/* SCROLL-BAR */
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: red;
}

body::-webkit-scrollbar-thumb {
  background: black;
  border: 1px solid white;
}

/* TRANSITION */
.main-content-enter {
  opacity: 0;
  transform: scale(1.1);
}

.main-content-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.main-content-exit {
  opacity: 1;
  transform: scale(1);
}

.main-content-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* BUTTON COLORS */
button {
  background-color: var(--COLOR2) !important;
  color: var(--COLOR5) !important;
}

button:hover {
  background-color: var(--COLOR4) !important;
  color: var(--COLOR1) !important;
}