.modal {
    // position: absolute;
    
    height: 250px;
    width: 400px;

    
    background-color: $ColorScheme2;
    border: 0.5px solid $ColorScheme3;
    border-radius: 10px;
    
    flex-direction: column;

    z-index: 500;

}

.modal.show {
    position: absolute;
}