.navbar-container {
  height: 75px;
  width:100%;
  position: absolute;
  z-index: 999;
  top: 0;

  @include flexCenter;

  opacity: 0.8;
  background-color: $ColorScheme2;
  color: $ColorScheme5; 
  box-shadow: 0px 5px 100px black;
}

.navbar-logo {
  color: $ColorScheme5;
  margin-left: 3rem;
  padding: 0 16px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  height: 75px;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 90vw;
  justify-content: end;
  margin: 1rem 2rem;
}

.nav-item {
  height: 75px;
  justify-content: center;
    align-items: center;
}

.nav-links {
  height: 100%;

  @include flexCenter;

  border-radius: 0px;
  color: $ColorScheme5; 
  text-decoration: none;
  padding: 0 1rem;
  
  font-family: MyFont1;
  font-size: 20px;
}

.navbar-logo:hover {
  text-shadow: 0px 0px 15px $ColorScheme5;
  transition: all 400ms ease-in-out;
}

.nav-links:hover {
  @include selected-item;

  border-radius: 10px;
  transition: all 400ms ease-in-out;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 900px) {
  .NavbarItems {
    position: relative;
  }

  .navbar-logo {
    margin-left: 0px;
  }

  .nav-menu {
    display: block;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 75px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    margin: 0px;
    z-index: 1000;
    padding: 0px;
  }

  .nav-menu.active {
    background: $ColorScheme2;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1000;
  }

  .nav-links {
    padding: 2rem;
    width: 100%;
    padding: 0px;
    justify-content: center;
    align-items: center;
  }

  .nav-links:hover {
    @include selected-item;

    border-radius: 0;
    border-bottom: 0px solid $ColorScheme5;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .menu-icon a{
    text-decoration: none;
    color: $ColorScheme5;
  }
}
