header {
  background-color: var(--COLOR1TRANS);
  z-index: 1;
}

.nav-dropdown-btn {
  display: none;
}

/* COLORS */
header nav a:hover {
  background-color: var(--COLOR4) !important;
  color: var(--COLOR1) !important;
  border-radius: 1rem;
}

header .dropdown-menu {
  display: none;
  background-color: var(--COLOR6TRANS);
  opacity: 0.1;
}

header .dropdown-menu.shown {
  display: block;
  animation: right-to-left 0.3s ease-in-out forwards;
  transition: transform 500ms;
  transform-style: preserve-3d;
}

header .dropdown-menu a {
  color: var(--COLOR5);
}

@keyframes right-to-left {
  0% {
      opacity: 0;
      transform: translateY(-20%);
  }
  100% {
      opacity: 1;
      transform: translateY(4.2%);
  }
}

@media screen and (max-width: 600px) {
  .nav-item {
      display: none;
  }
  .nav-dropdown-btn {
      display: block;
  }
}