
.app-window .app-content .projects-container {
    padding-top: 50px;
}

.projects-container .projects-title h1 {
    color: $ColorScheme5;
    font-size: 40px;
    margin: 5px;
}

.projects-container .projects-list{
    @include flexCenter;
    
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects-container .projects-list .projects-item{
    border: 1px solid red;
}