.app-window .app-content .skills-body {
    padding-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
}

.skills-body .skills-title {
    width: 100%;
    height: 60px;
    @include flexCenter;
}

.skills-body .skills-title {
    width: 100%;
}

.skills-body .skills-title h1 {
    color: $ColorScheme5;
    font-size: 40px;
    margin: 5px;
}

.skills-body .experience-list,
.skills-body .skills-list {
    width: 100%;
    height: auto;
    
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills-body .experience-list .exp-item{
    @include flexCenter;
    flex-direction: column;
    justify-content: flex-end;
    width: 250px;
    margin: 5px;
    justify-content: bottom;
}

.skills-body .experience-list .exp-item .exp-item-name {
    color: $ColorScheme4;
    font-size: 20px;
}

.skills-body .experience-list .exp-item .exp-item-desc {
    color: $ColorScheme3;
    font-size: 14px;
}

.skills-body .skills-list .skill-item{
    @include flexCenter;
    flex-direction: column;
    justify-content: flex-end;

    height: 150px;
    width: 150px;
    margin: 5px;
    justify-content: bottom;
}

.skills-body .skills-list .skill-item img{
    width: 100px;
    margin: auto;
}

.skills-body .skills-list .skill-item label{
    font-family: "MyFont2";
    color: $ColorScheme5;
}