.preloadText {
     position: absolute;
     top: -100;
     left: -100;
     display: none;
     z-index: -1;
}

@font-face {
     font-family: 'MyFont1';
     src: url('./fonts/GT-Walsheim-Rg.ttf');
     src: local('☺'),
          /* url('./fonts/Roboto-Regular.woff') format('woff'),  */
          url('./fonts/GT-Walsheim-Rg.ttf') format('truetype'),
          /* url('./fonts/Roboto-Regular.svg') format('svg'); */
}