/* Color Theme Swatches in Hex */
$ColorScheme1: #4A96D9;
$ColorScheme2: #59A8D9;
$ColorScheme3: #A9C6D9;
$ColorScheme4: #94E1F2;
$ColorScheme5: #F2F2F2;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin selected-item {
  color: $ColorScheme1;
  background-color: $ColorScheme4;
  transition: all 400ms ease-in-out;
}

@import './styles/Navbar.scss';
@import './styles/Footer.scss';
@import './styles/Button.scss';
@import './styles/Home.scss';
@import './styles/Skills.scss';
@import './styles/Contact.scss';

html, body {
  font-family: "MyFont2";
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  position: absolute;
  background-color: $ColorScheme1;
  z-index: -9999;
}

#root, .main-app {
  width: 100%;
  min-height: 100vh;
  width: 100vw;
}

.main-app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.main-app > .app-window {
  height: auto;
  min-height: 100vh;
  width: 100vw;
}

.main-app > .app-window .app-content{
  @include flexCenter();
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}

.main-app .background-canvas,
.main-app .background-canvas canvas {
  width: 100%;
  min-height: 100vh;
  position: fixed;
}

.main-app .background-canvas canvas {
  height: 100%;
}

.main-app > video {
  position: absolute;
  display: flex;
  max-height: 100vh;
  left: 0px;
  top: 0px;
  z-index: -999;
}

.main-app .app-content {
  width: 100vw;
  position: absolute;
  text-align: center;
  transition: all 0.5s ease;
}

.main-app .app-content.window-hide {
  /* top: -100vh; */
  transition: all 0.8s ease, opacity 2s;
  opacity: 0;
}

.main-app .app-content.window-show {
  left: 0px;
  top: 0px;
  transition: all 0.5s ease, opacity 2s;
  opacity: 1;
}

.main-app .app-window .app-content > :first-child {
  margin-top: 85px;
}