main {
    /* background-color: var(--COLOR1); */
}

main .home-buttons a {
    background-color: var(--COLOR2);
    color: var(--COLOR5);
}

main .home-buttons a:hover {
    background-color: var(--COLOR4);
    color: var(--COLOR1);
}

.dev-pic {
    border-radius: 50%;
}

.dev-prof {
    flex-direction: row;
}

@media screen and (max-width: 766px) {
    .dev-prof {
        flex-direction: column-reverse;
    }
}